<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.easyworld.pm.dao.PmProjectDao">
	<sql id="pmProjectDefaultColumms">
		project_id AS projectId,
		project_name AS projectName,
		project_path AS projectPath,
		project_description AS projectDescription,
		create_date AS createDate,
		project_domain AS projectDomain,
		create_login_no AS createLoginNo,
		remark AS remark
	</sql>

	<sql id="pmProjectDefaultWhere">
		<where>
			<if test="projectId != null">
				project_id = #{projectId}
			</if>
		</where>
	</sql>

	<select id="selectPmProjects" parameterType="org.easyworld.pm.bean.PmProjectBean"
		resultType="org.easyworld.pm.bean.PmProjectBean">
		SELECT
		<include refid="pmProjectDefaultColumms" />
		FROM pm_project_info
		<include refid="pmProjectDefaultWhere" />
	</select>

	<select id="selectPmProjectLanguagesByProjectId" parameterType="java.lang.String"
		resultType="org.easyworld.pm.bean.PmProjectLanguageBean">
		SELECT pm_project_language_rel.project_id AS projectId,
		pm_project_language_rel.language_key AS languageKey,
		pm_project_language_rel.language_alais AS languageAlais,
		pm_project_language_rel.is_default AS isDefault
		FROM
		pm_project_language_rel AS pm_project_language_rel
		WHERE
		pm_project_language_rel.project_id = '${value}'
	</select>

	<select id="selectPmProjectProertysByProjectId" parameterType="java.lang.String"
		resultType="org.easyworld.pm.bean.PmProjectPropertyBean">
		SELECT
		pm_project_property_info.project_id AS projectId,
		pm_project_property_info.property_key AS propertyKey,
		pm_project_property_info.property_type AS propertyType,
		pm_project_property_info.property_name AS propertyName,
		pm_project_property_info.property_value AS propertyValue
		FROM
		pm_project_property_info AS pm_project_property_info
		WHERE pm_project_property_info.project_id
		= '${value}'
	</select>

	<select id="selectPmProjectLanguagesByMap" parameterType="java.util.Map"
		resultType="org.easyworld.pm.bean.PmProjectLanguageBean">
		SELECT pm_project_language_rel.project_id AS projectId,
		pm_project_language_rel.language_key AS languageKey,
		pm_project_language_rel.language_alais AS languageAlais,
		pm_project_language_rel.is_default AS isDefault
		FROM
		pm_project_language_rel AS pm_project_language_rel
		WHERE
		pm_project_language_rel.project_id = '${projectId}'
		AND
		pm_project_language_rel.is_default = '${isDefault}'
	</select>
</mapper>